//mod-progress
.mod-progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  height: 0.1875rem;

  .progress-bar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    transition: all 0.3s ease;
    background-color: $clr-pallet-21;
  }
}
