//lyt-questionaire
.lyt-questionaire {
  padding: 5rem 1.25rem 0 1.25rem;
  max-width: 43rem;
  margin: 0 auto 3.3rem;

  p {
    font-size: 0.875rem;
    line-height: 1.43rem;
    margin: 0px 0px 0.8125rem;
    font-family: "Manrope-Regular";

    strong {
      font-family: "manrope-semibold";
    }

    a {
      margin: 0px;
      font-size: 0.875rem;
      line-height: 1.43rem;
      color: rgb(35, 116, 243);
      font-family: "Manrope-Medium";
      text-decoration: underline rgba(35, 116, 243, 0.4);

      &:hover {
        text-decoration-color: inherit;
      }
    }
  }

  h6 {
    line-height: 1.6;
    font-weight: 500;
    font-size: 0.875rem;
    color: rgb(44, 44, 44);
    margin: 0px 0px 0.8125rem;
    font-family: "Manrope-Medium";
  }

  .grey-text {
    display: block;
    color: #8b8b8b;
  }

  ul,
  ol {
    padding-left: 1.5rem;
    margin-bottom: 2.5rem;
  }

  ul li,
  ol li {
    position: relative;
    font-size: 0.875rem;
    line-height: 1.43rem;
    margin-bottom: 0.5rem;
    font-family: "Manrope-Regular";
  }

  ol li {
    counter-increment: section;
  }

  ul li:before {
    content: "_";
    font-size: 1rem;
    color: #8b8b8b;
    position: absolute;
    left: -1.5rem;
    top: -0.43rem;
  }

  ol li:before {
    content: counter(section) ". ";
    font-size: 0.875rem;
    line-height: 1.43rem;
    color: #8b8b8b;
    position: absolute;
    top: 0.04rem;
    left: -1.4rem;
  }

  hr {
    margin: 0px;
    border: 0px;
    margin-top: 40px;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #e3e3e3;
  }

  &-links {
    margin-top: 40px;
  }
}

@include mq-below($mobile) {
  .lyt-questionaire {
    padding: 2.5rem 1.25rem 0 1.25rem;
  }
}

@include mq-between($tablet-min, $tablet-max) {
  .lyt-questionaire {
    padding: 5rem 2.5rem 0 2.5rem;
    max-width: initial;
  }
}
