//lyt-personal-detail
.lyt-personal-detail {
  padding-bottom: 2.5rem;

  .bs-user-profile {
    margin-bottom: 2.5rem;
  }

  .title-wrap {
    margin-bottom: 1.875rem;
  }

  .bs-form {
    .form-action {
      margin-top: 2.5rem;
    }
  }
}
