//lyt-configure-card
.lyt-configure-card {
  .cc-head {
    text-align: center;
    margin-bottom: 3.75rem;
  }

  .cc-body {
    max-width: 51.3125rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .bs-info-form {
    width: 20.93rem;
  }

  .cc-highlight-title {
    margin-bottom: 0.4375rem;
  }

  &.typ-credit-card {
    .cc-head {
      max-width: 18.125rem;
      margin: 0 auto 3.75rem;
    }
  }
}

@include mq-below($tablet-max) {
  .lyt-configure-card {
    .cc-body {
      max-width: initial;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }

    .cc-grid-item {
      margin-bottom: 2.25rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .cc-head {
      margin-bottom: 2.18rem;
    }

    &.typ-credit-card {
      padding-bottom: 3.125rem;

      .cc-head {
        padding: 0 2.5rem;
        margin-bottom: 2.8125rem;
      }

      .cc-grid-item {
        margin-bottom: 1.875rem;
      }
    }
  }
}

@include mq-below($mobile-xs) {
  .lyt-configure-card {
    .bs-info-form {
      width: 18rem;
    }
  }
}
