//lyt-address-list-wrap
.lyt-address-list-wrap {
  .alw-item {
    margin-bottom: 2.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .alw-title-wrap {
    margin-bottom: 1.25rem;

    h3 {
      margin-bottom: 0.25rem;
    }

    .MuiTypography-body3 {
      margin: 0;
      font-size: 0.875rem;
      line-height: 1.43rem;
      font-family: $font-medium;
      color: $clr-base;
    }
  }

  .lyt-form {
    .f-head {
      align-items: center;
    }

    .bs-form {
      margin-top: 2.06rem;
    }
  }
}
