//tpl-overview
.tpl-overview {
  height: 100vh;
  padding-top: 7.375rem;
  padding-bottom: 3.125rem;

  &.typ-grey {
    background-color: $clr-bg;
  }

  &.typ-mitc {
    padding-top: 3.75rem;
    padding-bottom: 0;
  }

}

@include mq-below($mobile) {

  .tpl-overview {
    padding-top: 4.5rem;

    &.typ-fluid-container {
      padding-top: 7.575rem;

      .cm-container {
        max-width: initial;
        padding: 0 1.25rem;
      }

    }
  }

}

@include mq-between($tablet-min, $tablet-max) {

  .tpl-overview {
    padding-top: 10.56rem;
  }

}