//bs-pan-details
.bs-pan-details {
  text-align: center;

  .img-wrap,
  .info-title {
    margin-bottom: 1.25rem;
  }

  .info-wrap {
    margin-bottom: 4.125rem;
  }

  .info-label {
    margin-bottom: 0.5rem;
  }
}
