//bs-select
.bs-select {
  width: 100%;

  .icon-left-arrow {
    font-size: 1.5rem;
    transform: rotate(-90deg);
    color: $clr-primary;
    transition: rotate 0.3s ease;
  }

  .MuiSelect-select {
    display: flex;
    align-items: center;
    position: relative;

    &:before {
      content: "\e904";
      font-family: "icomoon" !important;
      font-size: 1.5rem;
      color: $clr-primary;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      right: 0;
    }

    &:focus {
      background-color: transparent;
    }
  }

  .MuiSvgIcon-root {
    display: none;
  }
}
