//bs-account-details
.bs-account-details {
  .logo-wrap {
    max-width: 9.25rem;
    margin: 0 auto 1.56rem;
  }

  .account-details-header {
    text-align: center;
    margin-bottom: 1.4rem;
  }

  .account-details-body {
    margin-bottom: 1.5rem;
  }

  .account-details-footer {
    text-align: center;

    .btn {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      .icon {
        font-size: 1.6rem;
        margin-right: 0.3rem;
      }
    }
  }
}

@include mq-below($mobile) {
  .bs-account-details {
    .logo-wrap {
      max-width: 8rem;
      margin: 0 auto 1rem;
    }
  }
}
