//bs-card-slider
.bs-card-slider {
  max-width: 24.75rem;
  position: relative;
  padding: 0 1.8rem;

  .img-wrap {
    img {
      display: block;
    }
  }

  .cs-btn {
    width: 3.125rem;
    height: 3.125rem;
    background-color: $clr-white;
    border-radius: 100%;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      font-family: "icomoon" !important;
      font-size: 2.25rem;
    }

    &.swiper-button-prev {
      left: -1.375rem;
      &:after {
        content: "\e910";
      }
    }
    &.swiper-button-next {
      right: -1.375rem;
      &:after {
        content: "\e904";
      }
    }

    &.swiper-button-disabled {
      opacity: 0.7;
    }
  }

  .swiper-main-wrapper {
    position: relative;
    margin-bottom: 2rem;
  }

  .swiper-thumb {
    .thumb-slide-item {
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      border: 1px solid transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      .img-wrap {
        width: 2.625rem;
        height: 2.625rem;
        border-radius: 100%;
        overflow: hidden;

        img {
          transform: scale(2.5);
        }
      }
      &.swiper-slide-thumb-active {
        border-color: $clr-primary;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
      }
    }
    .swiper-wrapper {
      justify-content: center;
    }
  }
}

@include mq-below($mobile) {
  .bs-card-slider {
    .swiper-cont {
      padding: 0 1.75rem;
      margin: 0 -1.75rem;
    }

    .slide-item {
      width: 100% !important;
    }

    .cs-btn {
      width: 2.5rem;
      height: 2.5rem;

      &:after {
        font-size: 2rem;
      }
    }
  }
}
