html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
img {
  width: 100%;
  display: inline-block;
}

* {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

body {
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox
  font-family: $font1;
  font-display: swap;
  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  &:hover {
    color: $clr-pallet-1;
  }
  &:focus,
  &:hover,
  &:visited {
    outline: none;
  }
}

// Chrome, Safari, Edge, Opera

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Firefox

input[type="number"] {
  -moz-appearance: textfield;
}

ol,
ul {
  list-style: none;
}

button {
  box-shadow: none;
  background: transparent;
  padding: 0;
  border: none;
}

input {
  caret-color: #cccccc;

  &:-webkit-autofill {
    background-color: transparent;
  }
}

html {
  font-family: $font1;
}
