// core

$clr-black: #000000;
$clr-white: #ffffff;
$clr-border: #e3e3e3;
$clr-border2: #efefef;
$clr-primary: #3857ff;
$clr-pallet-1: #3857ff;
$clr-pallet-2: #ff0049;
$clr-pallet-3: #bbe3ef;
$clr-pallet-4: #fbfbfd;
$clr-pallet-5: #ec1e30;
$clr-pallet-6: #0000000a;
$clr-pallet-7: #0053aa1a;
$clr-pallet-8: #f9f9f9;
$clr-pallet-9: #253844;
$clr-pallet-10: #d9d9d9;
$clr-pallet-11: #e0e0e0;
$clr-pallet-12: #f2f2f2;
$clr-pallet-13: #e6f7ff;
$clr-pallet-14: #14bf0d;
$clr-pallet-15: #1a1a1a;
$clr-pallet-16: #ff7f00;
$clr-pallet-17: #b7b7b7;
$clr-pallet-18: #505050;
$clr-pallet-19: #7b9dae;
$clr-pallet-20: #eaf7fa;
$clr-pallet-21: #ff0149;
$clr-base: #666666;
$clr-secondary-base: #999999;
$clr-turnary-base: #cccccc;
$clr-light-bg: #e8f3ff;
$clr-bg: #f7f7f7;
$clr-box-shadow: rgba(0, 0, 0, 0.29);
$clr-menu-hover: rgba(0, 0, 0, 0.01);
$clr-bullets: #8b8b8b;
$clr-grey: #6f6f6f;
$clr-info-blue: #3857ff;

// breakpoints

$mobile-xs: 340px;
$mobile-sm: 530px;
$mobile: 640px;
$tablet-min: 700px;
$tablet-max: 1024px;
$laptop: 1200px;
$desktop: 1280px;
$lg-desktop: 1550px;
$xl-desktop: 1680px;
$xxl-desktop: 1920px;

// font family

$font1: "Manrope-Regular";
$font-medium: "Manrope-Medium";
$font-smbold: "Manrope-SemiBold";
$font-bold: "Manrope-Bold";

// font-weight
$font-ex-light: 200;
$font-light: 300;
$font-regular: 400;
$font-md: 500;
$font-semibold: 600;
$font-bold: 700;
$font-ex-bold: 800;
